<!doctype html>
<html ng-app="todoApp">
<meta charset="utf-8">
  <style>

  .land {
    fill: #222;
  }

  .county-boundary {
    fill: none;
    stroke: #222;
    stroke-width: 0px;
  }

  .state-boundary {
    fill: none;
    stroke: #fff;
  }

  </style>
  <head>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="pace.min.js"></script>
      <link href="loading.css" rel="stylesheet" />




    <title>Chronicling-America Visualization</title>
  </head>
  <body>
    <h2>Chronicling-America Visualization</h2>
    <div ng-controller="mainController as controller">
      <i> If the project does not load, you can access it here: https://github.com/jain1/Chronicling-America</i><br/><br/>
      <strong>Please reload page before new search.</strong><br/><br/>
      {{clients}}
      <label>
       Search Phrase:
       <input type="text" name="inputData" ng-model="user" placeholder="Enter String">
       <button ng-click="inputData(user)" ng-init="count=0">
        click
      </button>
    </label>
    </div>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
